body{
  font-family: Calibri, sans-serif;
  font-size: 120%;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 30px 10px;
 }

#frame{
   margin: 10px auto;
   max-width: 500px;
 }

.box {
    padding: 5px 20px;
    margin: 20px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: right;
    position: relative;
}

.value var {
    font-weight: bold;
    font-style: normal;
    font-size: 280%;
    margin-right: 20px;
}

.door .value var{
    font-size: 150%;
}

.value span {
      font-size: 100%;
      position: absolute;
      display: block;
      top: 15px;
      right: 20px;
}

label {
   position: absolute;
   top: 15px;
   left: 20px;
   font-size: 90%;
}

.door label{
      top: 11px;
}

 .box.a { background-color: #0069CE; }
 .box.b { background-color: #D4C500; }
 .box.c { background-color: #D43700; }
 .box.d { background-color: #2CB100; }
 .box.e { background-color: #AD008E; }
 .box.f { background-color: #D47000; }


.time{
   font-size: 80%;
   text-align: right;
   margin: 0 20px;
   color: #999;
}
